button {
  cursor: pointer;
}
body {
  margin: 0;
  /*font-family: "Courier New", courier, monospace, sans-serif;*/
  font-family: monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, #ff6e7f 0%, #bfe9ff 100%);
  /*background: linear-gradient(89deg, #7f8c8d 0%, #000000 100%);*/

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
